<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 20px;
    }
    h1, h2 {
      color: #50b3a2;
    }
    ul {
      list-style: none;
    }
    ul li {
      margin: 5px 0;
    }
    a {
      text-decoration: none;
      color: #333;
    }
  </style>
</head>
<body>
  <h1>Your Lobbies</h1>
  <h2>Admin Lobbies:</h2>
  <ul id="adminLobbies"></ul>
  
  <h2>Joined Lobbies:</h2>
  <ul id="memberLobbies"></ul>

  <script>
    const token = localStorage.getItem('token');

    fetch('/dashboard', { 
        method: 'GET',
        headers: {
            'Authorization': `Bearer ${token}`
          }
        })
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json()})
    .then(data => {
        console.log(data);
      const adminLobbiesList = document.getElementById('adminLobbies');
      const memberLobbiesList = document.getElementById('memberLobbies');

      data.adminLobbies.forEach(lobby => {
        const li = document.createElement('li');
        const a = document.createElement('a');
        a.href = `/lobby/${lobby.lobby_id}`;
        a.textContent = lobby.name;
        li.appendChild(a);
        adminLobbiesList.appendChild(li);
      });

      data.memberLobbies.forEach(lobby => {
        const li = document.createElement('li');
        const a = document.createElement('a');
        a.href = `/lobby/${lobby.lobby_id}`;
        a.textContent = lobby.name;
        li.appendChild(a);
        memberLobbiesList.appendChild(li);
      });
    })
    .catch(error => {
      console.error('An error occurred:', error);
    });
  </script>
</body>
</html>
