<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Lockkeroom</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    header {
      background: #50b3a2;
      color: white;
      padding: 10px;
      text-align: center;
    }

    nav ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: center;
    }

    nav ul li {
      display: inline-flex;
      padding: 20px;
    }

    nav ul li a {
      text-decoration: none;
      color: white;
    }

    main {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    h1 {
      color: #50b3a2;
      font-size: 36px;
      margin: 10px;
    }

    p {
      color: #333;
      font-size: 18px;
      line-height: 1.6;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: center;
    }
  
    button {
      background: #50b3a2;
      color: white;
      border: none;
      padding: 10px 20px;
      margin: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  
    button:hover {
      background: #369977;
    }
  
    button a {
      text-decoration: none;
      color: white;
    }
    
    footer {
      background: #50b3a2;
      color: white;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>
<body>
  <header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
  </header>
  <main>
    <h1>Welcome to Lockkeroom!</h1>
    <p>Join your team's lobby, share messages about who's sweat stinks the most, and connect like never before.Yey!</p>
    <ul>
      <button><a href="/login">Login</a></button>
      <button><a href="/register">Register</a></button>
  </ul>
  
  </main>
    <footer>
      &copy; 2023 Lockkeroom. All rights reserved.
  </footer>
</body>
</html>
